@import "styles/index";
.root{
  display: flex;
  flex-direction: column;
  @include list(16px);
}
.header{

}
.address {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
