@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(24px, false);
    padding: 20px;
    background-color: $white;
    border-radius: $StandartBorderRadius;
}

.header {
    display: flex;
    flex-direction: row;
    @include list(12px, false);
}

.title {
    @include h2;
  flex: 1;
}

.actions{
  display: flex;
  flex-direction: row;

  @include list(12px, true);
}
