@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(12px, false);
}

.donut {
    margin-top: 12px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    display: flex;
    align-items: center;
    @include list(12px, true);

    .number {
        @include h3;
    }

    .less {
        @include secondaryText;
        color: $grey500;
    }
}

.progress {
    flex: 1;
}

.label {
    @include mainText;
}

.first {
    margin-top: 16px;
}

.second {
    margin-top: 14px;
}

.legend {
    display: flex;
    @include list(24px, true);
    margin-top: 22px;

    .text {
        @include secondaryText;
    }

    @include mq($PhoneWidth, max) {
        flex-direction: column;
    }
}

.item {
    display: flex;
    @include list(8px, true);
    align-items: center;

    @include mq($PhoneWidth, max) {
        margin: 0;
    }
}

.mobile {
    @include mq($PhoneWidth, max) {
        margin-top: 24px;
        width: 100%;
    }
}