@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(12px, false);
}

.donut {
    margin-top: 12px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
