@import "styles/index";

.root {}

.additional {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .deals {
        @include mq($PhoneWidth, max) {
            display: none;
        }

        @include mq($PhoneWidth, min) {
            display: block;
        }
    }
}

.deals {
    border-radius: $StandartBorderRadius;
    padding: 4px 12px;
    @include mainText;
    background-color: $grey200;
    color: $dark500;

    @include mq($PhoneWidth, min) {
        display: none;
    }

    @include mq($PhoneWidth, max) {
        max-width: 154px;
        margin-top: 12px;
    }
}

.yesDeals {
    background-color: $green400;
    color: $green500;
}

.content {
    flex: 1;
    margin-left: 8px;
}

.btns {
    margin-top: 20px;
    display: flex;
    @include list(12px, true);

    @include mq($SmDesktopWidth, max) {
        flex-direction: column;
    }

    @include mq($PhoneWidth, max) {
        margin-top: 12px;
    }
}

.btn {
    color: $blue500;

    @include mq($SmDesktopWidth, max) {
        margin: 0;
        margin-top: 8px;
    }
}

.btnFirst {
    color: $white;
}