@import "styles/index";

.root {}

.top {
  justify-content: space-between;
  align-items: center;
}

.btns {
  display: flex;
  @include list(12px, true);
}

.btn {
  color: $blue500;
}

.btnSecond {
  color: $white;
}