@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(48px, false);

    .item:first-child {
        .info {
            margin-top: 24px;
        }
    }
}

.item {
    display: flex;
    flex-direction: column;
    @include list(24px, false);
}

.info {
    display: flex;
    flex-direction: column;
    @include list(16px, false);
}

.infoItem {
    display: flex;
    flex-direction: column;

    .top {
        color: $grey500;
        @include secondaryText;
    }

    .bottom {
        color: $dark500;
        @include btnText;
    }
}

.map {
    margin-top: 24px;

    :global {
        .ymaps-2-1-79-map {
            width: 100% !important;
            height: 328px !important;
        }
    }
}

.internal {
    width: 100%;
}