@import "styles/index";

.modalLayout {
  position: relative;
  background: $white;
  padding: 20px;
  border-radius: 0 !important;
  background-color: $white !important;
  border-radius: $StandartBorderRadius !important;
  display: flex;
  flex-direction: column;
  max-width: 632px;

  @include mq($TabletWidth, max) {
    width: calc(100vw - 30px);
  }

}

.title {
  @include h2;
  color: $dark500;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.text {
  @include mainText;
  text-align: center;
}


.list {
  display: flex;
  flex-direction: column;

  >*+* {
    margin-top: 16px;
  }
}

.bottomSheetBody {
  max-height: 400px;
}

.btn {
  border-radius: 16px;
}

.link {
  @include btnText;
  color: $white;
}
