@import "styles/index";

.root{
  position: relative;
  display: flex;
}

.placemark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 2;
}
.image{
  max-width: 100%;
}
