@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(24px, false);
}
.title{
  @include h3;
  display: flex;
  flex-direction: row;
  align-items: center;
  @include list(16px, true)
}
.calcToggle{
  cursor: pointer;
  color: $blue500;
  @include btnText;
  &:hover{
    text-decoration: underline;
  }
}
