@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(12px, false);
}
.title{
  @include h3;
  display: flex;
  flex-direction: row;
  align-items: center;
  @include list(16px, true)
}
.calcToggle{
  cursor: pointer;
  color: $blue500;
  @include btnText;
  &:hover{
    text-decoration: underline;
  }
}
.total{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
