@import "styles/index";

.root {
    
}

.container {
  background-color: $white;
  @include container;
  padding-top: 32px;
  padding-bottom: 20px;
  width: 50%;
  display: flex;
  gap: 24px;
  flex-direction: column;
}
