@import "../../../../../../styles/index";

.legend {
    display: flex;
    @include list(24px, true);
    margin-top: 22px;

    .item{
        display: flex;
        align-items: center;
        @include list(8px, true);
    }

    .text {
        @include secondaryText;
    }

    @include mq($PhoneWidth, max) {
        flex-direction: column;

        .item{
        display: flex;
        align-items: center;
        @include list(8px, true);
        margin: 0;
    }
    }
}

.number {
    color: $dark500;
    @include h3;
}

.line {
    margin-top: 31px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile{
    margin-top: 12px;
}
