@import "../../../../styles/index";

.root {
    @include container;
    position: relative;
    margin-top: 38px;
    margin-bottom: 64px;
}

.container {
    display: flex;
    @include list(32px, true);
    margin-top: 24px;

    @include mq(1064px, max) {
        flex-direction: column-reverse;
    }
}

.title {
    @include h1;
    color: $dark500;
}

.switch {
    margin-top: 32px;
}

.status {
    cursor: pointer;
    color: $grey500;
    @include mainText;
    white-space: nowrap;
}

.active {
    position: relative;
    color: $dark500;
    @include btnText;
}

.line {
    width: 100%;
    height: 2px;
    background-color: $dark500;
    position: absolute;
    bottom: -9px;
}

.list {
    display: flex;
    flex-direction: column;
    @include list(12px, false);
}

.side {
    @include mq(1064px, max) {
        margin-left: 0;
        margin-bottom: 16px;
    }
}

.wrapper {
    display: flex;
    border-bottom: 1px solid $grey400;
    padding-bottom: 8px;
    @include list(20px, true);
    overflow-x: scroll;
    overflow-y: hidden;
    @include scroll_hide;
}