@import "../../../../styles/index";

.root {
    @include container;
    position: relative;
    margin-top: 38px;
    margin-bottom: 64px;
    background-color: $white;
      border-radius: 12px;
    @include mq($SmDesktopWidth, max) {
        margin: 0;
    }
}

.container {
    display: flex;
    flex-direction: column;
  align-items: center;
    @include list(24px, false);
    @include container;
    padding: 32px 20px;

    @include mq($SmDesktopWidth, max) {
        width: 100%;
        padding: 0;
        padding-top: 24px;
        padding-bottom: 48px;
    }
}

.formWrapper{
  max-width: 632px;
  display: flex;
  flex-direction: column;
  @include list(24px);
}
.title {
  @include h1;
}
