@import "styles/index";
.root{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 796px;
  background-color: $white;
  border-radius: $StandartBorderRadius !important;

  &.fixed{


  }

}
