@import "styles/index";

.root {
  background-color: $dark500;

  position: relative;
  z-index: 12;
}

.impersonate {
  font-size: 11px;
  background-color: $yellow500;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  color: $black;
  text-align: center;
}

.container {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;

  @include mq($PhoneWidth, max) {
    height: $headerMobHeight;
    width: 100%;
  }
}

.logo {
  max-width: 237px;
  height: 28px;
  display: block;
}

.info {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $white;

  @include mq($SmDesktopWidth, max) {
    display: none;
  }

  @include mq($TabletWidth, max) {
    display: flex;
  }

  @include mq($PhoneWidth, max) {
    background-color: transparent;
    font-size: 10px;
    padding: 0;
    display: none;
  }
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle {
  display: flex;
  gap: 32px;

  @include mq($PhoneWidth, max) {
    display: none;
  }
}

.link {
  position: relative;
  @include btnText;
  color: $white;
  transition: color 0.2s;

  &.active {
    color: $yellow500;
  }
}

.right {
  display: flex;
  gap: 12px;
}

.btn {
  span {
    gap: 12px;
    display: flex;
    align-items: center;
    color: $white;
  }
}

.mobile {
  display: none;
  justify-content: space-between;
  align-items: center;

  @include mq($PhoneWidth, max) {
    display: flex;
  }

  .menu {
    cursor: pointer;
  }
}

.dropdownMobile {
  background-color: $dark500;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 72px;
  z-index: 4;
  padding: 0 23px;
  display: flex;
  flex-direction: column;
}

.userButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include list(15px, true)
}

.badgeOnIcon {
  right: 0px !important;
  top: 0px !important;
  height: 24px !important;
  min-width: 24px !important;
  border: 2px solid $dark500;
  transform: translate(50%, -50%) !important;
}

.landingBtn {
  @include mq($MdDesktopWidth, max) {
    display: none;
  }
}

.landingContainer {
  flex-direction: column;
  padding: 15px;
}

.landingMiddle {
  gap: 16px;

  .link {
    font-size: 12px;
  }
}