@import "styles/index";

.root {
    @include container;
    position: relative;
    margin-top: 38px;
    margin-bottom: 64px;
    background-color: $white;
}

.container {
    display: flex;
    flex-direction: column;
    @include list(24px, false);
    @include container;
    width: 50%;
    padding: 32px 20px;
}

.title {
    @include h1;
}