@import "styles/index";

.root{
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;

  .arrow{
    transition: transform .3s ease;
  }
  &.opened{
    .arrow{
      transition: transform .3s ease;
      transform: rotate(180deg);
    }
  }
}
.label{

  font-weight: 500;
  font-size: 16px;
  color: $dark500;
  line-height: 28px;
  position: relative;
  z-index: 2;
}
.arrow{
  display: flex;
  position: relative;
  z-index: 2;
}
