@import "styles/index";

.root{
  padding: 12px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  .arrow{
    transition: transform .3s ease;
  }
  &.opened{
    .arrow{
      transition: transform .3s ease;
      transform: translateY(-50%) rotate(0deg);
    }
  }
}
.label{

  font-weight: 500;
  font-size: 16px;
  color: $dark500;
  line-height: 28px;
  position: relative;
  z-index: 2;
}
.arrow{
  display: flex;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  margin-left: -30px;
}
