@import "styles/index";

.root {
    background-color: $dark500;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    @include container;
    gap: 32px;

    @include mq($PhoneWidth, max) {
        gap: 24px;
    }
}

.right {
    display: flex;
    gap: 32px;
    flex-direction: column;

    .top {
        display: flex;
        align-items: center;
        gap: 14px;

        @include mq($DesktopWidth, max) {
            align-items: baseline;
        }
    }
}

.menus {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 10px;

    @include mq($TabletWidth, max) {
        flex-direction: column;
        gap: 24px;
    }
}

.phone {
    gap: 4px;
    align-items: center;
    display: flex;

    a {
        color: $white;
        @include h3;
    }

}

.top {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    @include mq($DesktopWidth, max) {
        flex-direction: column;
    }
}

.logo {
    font-family: 'Jost';
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: $white;
    text-transform: uppercase;
}

.info {
    height: 54px;
    background-color: $dark400;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $white;
    padding: 0 12px;
    border-radius: 12px;
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tel {
    @include mainText;
    color: $white;
}

.btn {
    color: $dark500;
    width: 146px;
}

.menu {}

.title {
    @include h1;
    color: $white;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    @include mq($PhoneWidth, max) {
        margin-top: 16px;
        gap: 12px;
    }
}

.option {
    @include mainText;
    color: $white;
}

.bottom {
    justify-content: space-between;
    display: flex;
    align-items: flex-end;

    @include mq($PhoneWidth, max) {
        flex-direction: column-reverse;
        align-items: baseline;
    }
}

.copyright {
    @include mainText;
    color: $white;
    margin-top: 36px;

    @include mq($PhoneWidth, max) {
        margin-top: 18px;
    }
}

.separator {
    height: 1px;
    opacity: 0.4;
    background-color: $grey400;
}

.join {
    display: flex;
    align-items: center;
    gap: 12px;
    color: $white;

    @include mq($PhoneWidth, max) {
        font-size: 13px;
    }
}