@import "styles/index";

.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.field {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: $StandartBorderRadius;

  &.opened {
    border-radius: 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    &:after {
      content: " ";
      position: absolute;
      height: 1px;
      left: 10px;
      right: 10px;
      bottom: 0px;
      background-color: $grey200;

    }
  }

  flex-grow: 1;
  transition: all 0.3s;

}

.input {
  flex: 1;
  color: #4F4F4F;
  background-color: transparent;
  border-radius: $StandartBorderRadius;
  border: 1px solid $grey400;
  height: 48px;
  padding-left: 12px;
  font-size: 14px;
  font-weight: 500;

  &::placeholder {
    @include mainText;
    color: $grey500;
  }

}

.dropDown {
  border-radius: 12px;
  width: 500px;
  color: #4F4F4F;
  background-color: $white;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: none;
  filter: none;
  padding: 10px;
  z-index: 2;
  border: 1px solid #C8D0E7;

  .message {
    padding: 6px 18px;
  }
}


.option {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;

  &.optionActive {
    font-weight: 600;
  }

  &:hover {
    background: $white;
    border-radius: 16px;
  }
}

.message {
  padding: 6px 0px;
  font-size: 12px;
  color: $grey100;
}

.messageError {

  color: #F15151;
}