@import "styles/index";


.root{
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.search{
  padding: 10px 15px;
}
.dialogs{
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
}


.empty{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}
.list{
  display: flex;
  flex-direction: column;
}
