@import "styles/index";

.root {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    border-top: 1px solid $grey400;
}

.next {
    width: 20%;
    color: $white;
    @include btnText;
}

.prev {
    color: $blue500;
    @include btnText;
    width: 20%;
}