@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
    padding: 20px;
    background-color: $white;
    border-radius: $StandartBorderRadius;
}

.title {
    @include h2;
}

.category {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq($SmDesktopWidth, max) {
        flex-direction: column;
        align-items: flex-start;
        @include list(12px, false);
    }

    .text {
        @include btnText;
    }
}

.switch {
    display: flex;
    @include list(12px, true);

    .text {
        @include mainText;
    }
}

.top {
    display: flex;
    flex-direction: column;
    @include list(16px, false);
}

.table {
    display: table;
}

.row {
    display: table-row;

    @include mq($MdDesktopWidth, max) {
        display: none;
    }

    .cell:first-child {
        padding-left: 12px;
    }

    .cell:last-child {
        padding-right: 12px;
    }
}

.secondRow {
    display: table-row;
    background-color: $grey300;

    @include mq($MdDesktopWidth, max) {
        display: none;
    }

    .cell:first-child {
        padding-left: 12px;
    }

    .cell:last-child {
        padding-right: 12px;
    }

    .cell {
        padding: 8px 0;
        display: table-cell;
        @include btnText;
        color: $dark500;
    }
}

.mobileSecond {
    display: table-row;
    background-color: $grey300;

    @include mq($MdDesktopWidth, min) {
        display: none;
    }

    .cell:first-child {
        padding-left: 12px;
        text-align: start;
    }

    .cell:last-child {
        padding-right: 12px;
        text-align: end;
        padding-left: 24px;

        @include mq($PhoneWidth, max) {
            text-align: start;
            padding-left: 15px;
        }
    }

    .cell {
        padding: 8px 0;
        display: table-cell;
        @include btnText;
        color: $dark500;
        text-align: end;
    }
}

.whiteRow {
    display: table-row;
    background-color: $white;

    @include mq($MdDesktopWidth, max) {
        display: none;
    }

    .cell:first-child {
        padding-left: 12px;
    }

    .cell:last-child {
        padding-right: 12px;
    }

    .cell {
        padding: 8px 0;
        display: table-cell;
        @include btnText;
        color: $dark500;
    }
}

.mobileWhite {
    display: table-row;
    background-color: $white;

    @include mq($MdDesktopWidth, min) {
        display: none;
    }

    .cell:first-child {
        padding-left: 12px;
    }

    .cell:last-child {
        padding-right: 12px;
        text-align: end;

        @include mq($PhoneWidth, max) {
            text-align: start;
            padding-left: 15px;
        }
    }

    .cell {
        padding: 8px 0;
        display: table-cell;
        @include btnText;
        color: $dark500;
    }
}

.cell {
    display: table-cell;
    @include secondaryText;
    color: $grey500;
    padding: 0 0 5px 0;

    @include mq(1320px, max) {
        font-size: 12px;
    }

    @include mq($MdDesktopWidth, max) {
        @include secondaryText;
    }
}

.mix {
    display: flex;
    flex-direction: column;
    @include list(5px, false);
}

.self {
    @include secondaryText;
    color: $grey500;
}

.price {
    @include btnText;
    color: $dark500;
}

.popover {
    display: flex;
    @include list(12px, true);
}

.chevron {
    cursor: pointer;
}

.controls {
    display: flex;
    @include list(8px, true);
    align-items: center;
}

.inner {
    display: flex;
    @include list(8px, true);
    justify-content: flex-end;

    .label {
        line-height: 24px;
        white-space: nowrap;
        text-align: start;
    }
}

.mobile {
    display: table-row;

    @include mq($MdDesktopWidth, min) {
        display: none;
    }

    .cell:first-child {
        padding-left: 12px;
        @include secondaryText;
        color: $grey500;
        text-align: start;
    }

    .cell:last-child {
        padding-right: 0;
    }

    .cell {
        padding: 8px 0;
        display: table-cell;
        text-align: end;
    }
}

.layoutTitle {
    max-width: 100%;
}

.br {
    @include mq($PhoneWidth, min) {
        display: none;
    }
}