@import "styles/index";

.root {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 127px;
  display: flex;
  flex-direction: column;
  :global .swiper {
    flex: 1;
    .swiper-wrapper {

    }
  }
}
.slide {
  height: 178px !important;
  cursor: pointer;
  > span {
    position: static !important;
  }

  img {
    position: static !important;
    height: 100% !important;
    width: 100% !important;
    border-radius: 14px;
  }
}

.arrow{
  height: 30px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  cursor: pointer;

}

.next, .prev {
  position: absolute;
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;

  img {
    cursor: pointer;
  }
}

.next {
  bottom: 0;
}

.prev {
  top: 0;
}
