@import "styles/index";

.root {
    @include container;
    margin-top: 32px;
    margin-bottom: 64px;
}

.container {
    display: flex;
    margin-top: 32px;
    gap: 32px;
}

.title {
    @include h1;
}

.left{
    display: flex;
    flex-direction: column;
    width: 33%;
    gap: 12px;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.total {
    @include mainText;
    color: $grey500;
}

.filter {
    height: 40px;
    padding: 0 16px;
    display: flex;
    gap: 8px;
    border-radius: 12px;
    background-color: $white;
    align-items: center;
    cursor: pointer;

    .text {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: $dark500;
    }
}

.list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.switches{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.switch{
    display: flex;
    gap: 12px;
    align-items: center;
}

.label{
    @include mainText;
}

.tabs{
    display: flex;
    gap: 8px;
}

.km{
    padding-right: 48px;
}
