@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(16px, false);
    padding: 20px;
    background-color: $white;
    border-radius: $StandartBorderRadius;
}

.title {
    @include h2;
}

.schedule {
    display: flex;
    flex-direction: column;
    @include list(5px, false);
}