@import "styles/index";
.root{
  padding: 20px;
  &.fixed{
    flex: 1;
  }
}

.scroll{
  flex: 1;
  overflow: auto;

}

.wrapper{
  display: block;
  width: 100%;
  overflow-y: auto;
}

.verticalTrack{

}
