@import "styles/index";
$radius: 10px;
.root {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  &.sideOther {
    align-items: flex-start;
    .message{
      background: $grey300;
      border-top-left-radius: 0px;
    }
  }

  &.sideMy {
    background: $white;
    align-items: flex-end;
    .message{
      border-color: $grey200;
      border-top-right-radius: 0px;
    }
  }
}
.message{
  padding: 12px;
  font-weight: 400;
  font-size: 16px;
  color: $dark500;
  border-radius: $radius;
  white-space: pre-line;
}
.author{
  font-weight: 400;
  font-size: 14px;
  color: $grey500;
  margin-bottom: 2px;
}
.time {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
  font-size: 14px;
  color: $grey500;
}
