@import "styles/index";

.root {
  display: flex;
  flex-direction: column;
  @include list(24px, false);
}


.address {
  @include btnText;
  margin-top: 16px;
}

.map {
  height: 328px;
  @include mq($PhoneWidth, max) {
    height: 210px;
  }
}
