@import "styles/index";

.root{
  display: flex;
  flex-direction: row;
  align-items: center;
  @include list(16px, true);
  &:hover{
    .text {
      text-decoration: underline;
    }
  }
  .text{
    @include btnText;
  }
}
