@import "styles/index";

.root {
    @include container;
    margin-top: 32px;
    margin-bottom: 64px;
}

.title {
    @include h1;
    color: $dark500;
}

.switch {
    margin-top: 32px;
    display: flex;
    border-bottom: 1px solid $grey400;
    padding-bottom: 8px;
    @include list(8px, true);
}

.status {
    cursor: pointer;
    color: $grey500;
    @include mainText;
}

.active {
    position: relative;
    color: $dark500;
    @include btnText;
}

.line {
    width: 100%;
    height: 2px;
    background-color: $dark500;
    position: absolute;
    bottom: -9px;
}

.list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    @include list(12px, false);
}