@import "styles/index";

.root {}

.top {
  justify-content: space-between;
  align-items: center;
}

.btns {
  display: flex;
  @include list(12px, true);

  @include mq($PhoneWidth, max) {
    margin-top: 24px;
    flex-direction: column;
    @include list(24px, false);
  }
}

.btn {
  color: $blue500;

  @include mq($PhoneWidth, max) {
    width: 100%;
    margin-top: 12px !important;
  }
}

.btnSecond {
  color: $white;
}

.desktop {
  @include mq($PhoneWidth, max) {
    display: none;
  }
}

.mobileCard {
  padding: 0 !important;
}