@import "styles/index";

.root {
  position: relative;
  display: flex;
  align-items: flex-start;
  user-select: none;
  cursor: pointer;
}
.label{
  flex:1;
  @include mainText;
}

.checkbox {
  background-color: white;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-right: 10px;
  border: 1px solid $grey400;
  transition: background 0.2s, border 0.2s;
  transform: translateY(4px);
  &.hover{
    background: $yellow300;
  }
  &.checked{
    border: none;
    background: $yellow500;
  }
  &.error{
    border-color: $red500;
  }
}
