@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(12px, false);
}

.info {
    display: flex;
    flex-direction: column;
    @include list(12px, false);

    .item {
        display: flex;
        flex-direction: column-reverse;
        @include list(4px, false);
    }

    @include mq(704px, max) {
        display: none;
    }
}

.top {
    color: $dark500;
    @include btnText;
}

.bottom {
    color: $grey500;
    @include secondaryText;
}

.btn {
    color: $blue500;

    @include mq($PhoneWidth, max) {
        font-size: 15px;
    }
}

.infoMobile {
    display: flex;
    flex-direction: column;
    @include list(12px, false);

    .item {
        display: flex;
        flex-direction: column-reverse;
        @include list(4px, false);
    }

    @include mq(704px, min) {
        display: none;
    }
}

.show {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .text {
        @include btnText;
        color: $blue500;
    }
}