@import "styles/index";

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.input {
  height: $StandartHeight;
  border-radius: $StandartBorderRadius;
  border: 1px solid $grey400;
  width: 100%;
  padding: 0 16px;

  &::placeholder {
    @include mainText;
    color: $grey500;
  }
  &.withSuffix{
    padding-right: 40px;
  }
  &.withPrefix{
    padding-left: 49px;
  }
  &.inputError{
    border-color: $red500;
  }
  &.inputFocused{
    border-color: $dark400;
  }
}


.label,
.sign {
  color: $dark500;
  @include btnText;
}

.sign {
  position: absolute;
  z-index: 1;
  right: 12px;
  top: 12px;
}

.drop {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}

.inputWrapper {
  position: relative;
}

.icon {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.obscure{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;

}
