@import "styles/index";

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  @include list(8px);
  width: 100%;
}

.input {
 @include input;
}


.label{
  @include label;
}


.inputWrapper {
  position: relative;
  @include inputWrapper;
}

.icon {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.suffix{
  padding-right: 12px;
}
.prefix{
  padding-left: 16px;
}

.obscure{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;

}
