@import "styles/index";

.root {
    padding: 32px 0;
    background-color: $white;
    border-radius: $StandartBorderRadius;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-bottom: 600px;
}

.check {
    width: 71px;
    height: 71px;
}

.title {
    @include h1;
}

.text{
    @include mainText;
    text-align: center;
}