@import "../../../../../../styles/index";

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.number {
    @include h2;
}

.add {
    color: $blue500;
    @include btnText;
    max-width: 303px;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: $grey400;
}

.distance {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.from {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.label {
  color: $dark500;
  @include btnText;
}
