@import "../../../../../../styles/index";

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.bottom {
    display: flex;
    gap: 12px;

    .input {
        max-width: 200px;
    }

    .input:first-child {
        flex: 1;
        max-width: 100%;
    }
}

.add {
    color: $blue500;
    @include btnText;
    max-width: 243px;
}

.btn {
    width: 20%;
    color: $white;
}

.phones {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text {
    color: $dark500;
    @include mainText;
    text-align: center;

    span {
        @include btnText;
    }
}
