@import "styles/index";

.root {
  padding: 0px 12px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  height: 28px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}
.blue{
  background-color: $blue500;
}
.green{
  background-color: $green400;
}
.greenLight{
  background-color: $green300;
  color: $green400;
}
.red{
  background-color: $red500;
}
.redLight{
  background-color: $red300;
  color: $red500;
}
.yellow{
  background-color: $yellow300;
  color: $dark500;
}
