@import "styles/index";

.root{
  position: relative;
  @include list(8px);

}
.dropDownValueWrapper{
  padding-right: 6px;
}
.dropDownValue{
  transform: translateY(-2px);
  padding-left: 0px;
  line-height: $StandartHeight;
}
