@import "styles/index";

.root {
  @include list(24px, false);
}
.item{
  margin-bottom: 8px;
}

.fields {
    display: flex;
    flex-direction: column;
    @include list(16px, false);
}

.field {
    display: flex;
    flex-direction: column;
  @include list(4px, false);
    .label {
        color: $grey500;
        @include secondaryText;
    }

    .value {
        color: $dark500;
        @include btnText;
    }
}

.map {
    margin-top: 24px;
  height: 328px;
}

.price{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  @include mq($PhoneWidth, max) {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
  }
}
