@import "styles/index";

.root {

  &.default{
    height: 48px;
    display: flex;
    align-items: center;
    border-radius: $StandartBorderRadius;
    border: 1px solid $grey400;
    cursor: pointer;
    justify-content: center;

    @include mq($PhoneWidth, max) {
      height: 40px;
      width: inherit !important;
      padding: 0 9px;
    }
    .text{
      @include mainText;
      white-space: nowrap;
    }

    &.active{
      background-color: $yellow500;
      border: 1px solid $yellow500;

      .text{
        font-weight: 500;
      }
    }
  }
  &.filter {
    display: flex;
    align-items: center;
    border-radius: $StandartBorderRadius;
    @include list(8px, true);
    justify-content: center;
    height: $StandartHeight;
    flex: 1;
    cursor: pointer;
    .text{
      @include btnText;
      @include mq($PhoneWidth, max) {
        text-align: center;
      }
    }
    &.active {
      background-color: $white;
      .text {
        color: $blue500;
      }
    }
  }

  &.outlined{
      color: $grey500;
      @include mainText;
      cursor: pointer;
    padding-bottom: 8px;
    white-space: nowrap;
    &:after{
      content: ' ';
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      height: 2px;
      z-index: 2;
      background-color: $dark500;
      visibility: hidden;
    }

    &.active {
      color: $dark500;
      @include btnText;
      position: relative;
      &:after{
        visibility: visible;
      }
    }

  }
}

