@import "styles/index";

.root {
    height: 48px;
    display: flex;
    align-items: center;
    border-radius: $StandartBorderRadius;
    border: 1px solid $grey400;
    cursor: pointer;
    justify-content: center;

    @include mq($PhoneWidth, max) {
       height: 40px;
    }
}

.text{
    @include mainText;
}

.active{
    background-color: $yellow500;
    border: 1px solid $yellow500;

    .text{
        font-weight: 500;
    }
}