@import "styles/index";
.modalBody{
  padding-top: 16px;
  padding-bottom: 16px;
}
.root {
  position: relative;
    flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  background: $grey300;
  display: flex;
  flex-direction: row;
  align-items: center;
  @include list(8px, true);
  padding: 12px 20px;
  border-bottom-left-radius: $StandartBorderRadius;
  border-bottom-right-radius: $StandartBorderRadius;

}
.textarea{
  flex: 1;
}

