@import "styles/index";

.root {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  max-height: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  z-index: $zIndexModal;
  @media (max-width: $xs-max) {
   // top: $headerMobHeight;
  }
}
