@import "styles/index";
.root {

  &.fluid{
    .tab{
      flex: 1;
    }
  }

  &.default{
    display: flex;
    @include list(8px, true);
    @include mq($SmDesktopWidth, max) {
      display: block;
      @include list(0px, true);
      margin: -4px;
    }
    .tab{
      padding: 0px 16px;
      @include mq($SmDesktopWidth, max) {
        display: inline-flex;
        margin: 4px;
      }
    }
  }
  &.filter{
    display: flex;
    background-color: $grey200;
    border-radius: $StandartBorderRadius;
    padding: 4px;
  }
  &.outlined{
    display: flex;
    flex-direction: row;
    height: 32px;
    @include list(20px, true);
    border-bottom: 1px solid $grey400;
    padding-bottom: 8px;
  }
}

