@import "styles/index";

.root {
  @include container;
  margin-top: 32px;
  margin-bottom: 64px;
}

.title {
  @include h1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  margin-top: 32px;
  gap: 32px;
  @include list(32px, true);

  @include mq($MdDesktopWidth, max) {
    flex-direction: column;
  }

  @include mq($PhoneWidth, max) {
    gap: 12px;
    @include list(0px, true);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  border-radius: $StandartBorderRadius;
  background-color: $white;
  padding: 12px 0px 0px 0px;
  width: 416px;
  max-height: 108px;

  @include mq($PhoneWidth, max) {
    flex-direction: row;
    overflow-x: scroll;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    @include scroll_hide;
    @include list(20px, true);
    margin-bottom: 10px;
    width: 100%;
  }
}

.buyer {
  max-height: 252px;
}

.option {
  padding: 12px 0px 12px 20px;
  cursor: pointer;
  @include btnText;
  display: flex;
  @include list(12px, true);
  align-items: center;

  @include mq($PhoneWidth, max) {
    flex-shrink: 0;
    padding: 0;
  }
}

.active {
  border-left: 4px solid $yellow500;
  background: $yellow300;

  @include mq($PhoneWidth, max) {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid $dark400;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  @include list(12px, false);

  @include mq($MdDesktopWidth, max) {
    margin-left: 0;
  }
}

.icon {
  display: flex;
}

.places {
  transform: rotate(180deg);
}

.btn,
.btnMobile {
  color: $white;
  @include h3;
  font-weight: normal;
}

.btn {
  @include mq($PhoneWidth, max) {
    display: none;
  }
}

.btnMobile {
  @include mq($PhoneWidth, min) {
    display: none;
  }
}