@import "styles/index";

.root {
  @include container;
  margin-top: 32px;
  margin-bottom: 64px;
}

.title {
  @include h1;
}

.container {
  display: flex;
  margin-top: 32px;
  gap: 32px;
  @include list(32px, true);

  @include mq($MdDesktopWidth, max) {
    flex-direction: column;
  }

  @include mq($PhoneWidth, max) {
    gap: 12px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  border-radius: $StandartBorderRadius;
  background-color: $white;
  padding: 12px 0px 0px 0px;
  width: 416px;
  max-height: 108px;

  @include mq($PhoneWidth, max) {
    display: none;
  }
}

.buyer {
  max-height: 252px;
}

.option {
  padding: 12px 0px 12px 20px;
  cursor: pointer;
  @include btnText;
  display: flex;
  @include list(12px, true);
  align-items: center;
}

.active {
  border-left: 4px solid $yellow500;
  background: $yellow300;
}

.content {
  flex: 1;

  @include mq($MdDesktopWidth, max) {
    margin-left: 0;
  }
}

.icon {
  display: flex;
}

.places {
  transform: rotate(180deg);
}