@import "../../../../../../styles/index";

.root {
  @include container;
  background-color: $white;
  border-radius: $StandartBorderRadius;
  @include mq($PhoneWidth, max) {
    border-radius: 0px;
    padding-bottom: 48px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 20px;
  @include list(24px);
}
.wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
}
.wrapperIndicator{
  @include mq($PhoneWidth, max) {
    display: block;
    overflow-x: scroll;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    @include scroll_hide;
    @include list(20px, true);
    margin-bottom: 10px;
  }
}

.content, .indicator {

  flex-basis: $stepFormWidth;

}
.indicator{
  @include mq($PhoneWidth, max) {

    width: 528px;
  }
}
.content{

  display: flex;
  flex-direction: column;
  @include list(24px);
}

.title {
    @include h1;
    color: $dark500;
}
