@import "styles/index";

.root {

  &.map {
    display: flex;
    flex-direction: column;
    .filtersWrapper{
      @include list(0px);
      flex: 1;
      max-height: 100%;
      overflow-y: auto;
      height: calc(100vh - 210px);
    }
    .filter{
      padding-top: 8px;
      padding-bottom: 8px;
      width: calc(100% - 4px);
    }
    &.mobile{
      position: fixed;
      top: $headerMobHeight + 24px;
      z-index: 4;
      left: 15px;
      right: 15px;
      .viewTypeFilterWrapper{
        background-color: $grey200;
        padding: 4px;
      }
    }

  }
}

.viewTypeFilterWrapper{

}




.filters {
  @include mq($PhoneWidth, max) {
    margin-top: 0px;
    position: fixed;
    top: 64px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: $white;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  @include mq($MdDesktopWidth, max) {
    width: 100%;
  }
}
.filtersWrapper{
  display: flex;
  flex-direction: column;
  @include list(12px);
  @include mq($PhoneWidth, max) {
    flex: 1;
    overflow-y: auto;
    padding: 8px 16px 24px 16px;
  }
}
.mobileHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 16px 16px 16px;
  .title{
    flex: 1;
  }
}

.mobileOpenToggle {
  margin-bottom: 12px;
  @include mq($MdDesktopWidth, min) {
    display: none;
  }

  @include mq($MdDesktopWidth, max) {
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      @include btnText;
      color: $white;
    }
  }

  .content {
    display: flex;
    gap: 8px;
  }
}

.listMap {

  @include mq($PhoneWidth, max) {
    padding: 0px !important;
    margin-bottom: 0 !important;
  }
}

.none {
  @include mq($MdDesktopWidth, max) {
    display: none !important;
  }
}

.nonePhone {
  @include mq($PhoneWidth, max) {
    display: none !important;
  }
}

.switches {
  display: flex;
  flex-direction: column;
  @include list(12px);
}
.mapViewTypeFilter{
  @include filterContainer;
  padding-top: 16px;
  padding-bottom: 8px;
}
