@import "styles/index";

.root {
  position: fixed;
  width: 120%;
  height: 100%;
  left: -10%;
  top: 0;
  overflow-y: scroll;
  background: rgba(1, 1, 1, 0.7);
  z-index: 13;
  font-family: 'Jost';

  :global .swiper {
    height: 100%;
    max-height: 100% !important;
    max-width: 100%;

    @media screen and (max-width: $xs-max) {
      height: auto;
      max-height: initial !important;
    }

    .swiper-pagination {
      position: absolute;
      width: 500px;
      bottom: 30px;
      right: 0;
      left: inherit !important;
      z-index: 1 !important;

      @include mq($MdDesktopWidth, max) {
        width: 100%;
      }

      .swiper-pagination-bullet {
        width: 24px !important;
        height: 24px !important;
        margin: 0 10px !important;
        background: url('../../../public/img/landing/dot.svg') no-repeat center;

        @include mq($PhoneWidth, max) {
          margin: 0 3px !important;
        }
      }

      .swiper-pagination-bullet-active {
        background: url('../../../public/img/landing/dot2.svg') no-repeat center;
      }
    }
  }
}

.wrapper {
  width: 80%;
  margin-left: 0.5%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;

  @include mq($MdDesktopWidth, max) {
    top: 70px;
  }
}

.slide {
  padding-right: 500px;
  background: #4B526E;
  height: auto !important;

  @include mq($MdDesktopWidth, max) {
    padding-right: 0;
    height: 100% !important;
  }
}

.right {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  width: 500px;
  padding: 30px 30px;
  height: 100%;

  p {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0;
  }

  ul {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
  }

  li {
    list-style-type: none;
    list-style-position: inside;
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      display: block;
      float: left;
      background-color: #FFCA1C;
      position: absolute;
      top: 6px;
      left: 0;
      border-radius: 50%;
    }
  }

  @include mq($MdDesktopWidth, max) {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: auto;
    padding: 30px 30px 100px 30px;
  }
}

.left {
  position: relative !important;

  @include mq($MdDesktopWidth, max) {
    height: auto !important;
  }
}

.step {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 48px;
  line-height: 69px;
  color: #C6C5D7;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Jost';

  span {
    font-weight: 600;
    color: #fff;
  }
}

.close {
  cursor: pointer;
  fill: #C6C5D7;

  &:hover {
    fill: #D2D4DB;
  }

  position: absolute;
  top: 44px;
  right: 40px;
  z-index: 4;

  @include mq($MdDesktopWidth, max) {
    top: -50px;
    right: 0;
  }
}

.name {
  display: flex;
  margin-bottom: 20px;
  @include list(25px, true);
  align-items: center;
}

.role {
  font-weight: 300;
  font-size: 24px;
  line-height: 35px;
  color: #FFF;
  font-family: 'Jost';

  span {
    font-weight: 600;
  }
}

.prev,
.next {
  position: absolute;
  padding: 0;
  font-size: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
  bottom: 25px;
}

.prev {
  right: 417px;

  @include mq($MdDesktopWidth, max) {
    right: auto;
    left: 30px;
  }

  @include mq($PhoneWidth, max) {
    left: 20px;
  }
}

.next {
  right: 43px;

  @include mq($MdDesktopWidth, max) {
    right: 30px;
  }

  @include mq($PhoneWidth, max) {
    right: 20px;
  }
}