@import "styles/index";

.root {
  position: fixed;
  width: 120%;
  height: 100%;
  left: -10%;
  top: 0;
  overflow-y: scroll;
  background: rgba(1, 1, 1, 0.7);
  z-index: 13;

  :global .swiper {
    height: 100%;
    max-height: 100% !important;
    max-width: 100%;

    @media screen and (max-width: $xs-max) {
      height: auto;
      max-height: initial !important;
    }

    .swiper-pagination {
      position: absolute;
      width: 500px;
      bottom: 25px;
      right: 0;
      left: inherit !important;
      z-index: 1 !important;
      display: flex;
      justify-content: center;

      @include mq($MdDesktopWidth, max) {
        width: 100%;
      }

      .swiper-pagination-bullet:only-child {
        visibility: hidden;
      }

      .swiper-pagination-bullet {
        width: 40px !important;
        height: 40px !important;
        margin: 0 4px !important;
        border-radius: 12px !important;
        background-color: white;
        opacity: 1 !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        //background: url("../../../public/img/landing/dot.svg") no-repeat center;

        @include mq($PhoneWidth, max) {
          margin: 0 3px !important;
        }
      }

      .swiper-pagination-bullet-active {
        //background: url("../../../public/img/landing/dot2.svg") no-repeat center;
        background-color: $yellow500;
      }
    }
  }
}

.wrapper {
  width: 80%;
  margin-left: 0.5%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  height: 700px;

  @include mq($MdDesktopWidth, max) {
    top: 70px;
  }

  @include mq($SmDesktopWidth, max) {
    height: 100%;
  }
}

.slide {
  background: #6c7894;
  height: auto !important;
  display: flex;
  overflow: hidden;

  @include mq($MdDesktopWidth, max) {
    padding-right: 0;
    height: 100% !important;
  }

  @include mq($SmDesktopWidth, max) {
    flex-direction: column;
    overflow-y: scroll;
  }
}

.right {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 500px;
  padding: 30px 30px;
  height: 100%;
  position: relative;

  p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 0;
  }

  ul {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
  }

  li {
    list-style-type: none;
    list-style-position: inside;
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      display: block;
      float: left;
      background-color: #ffca1c;
      position: absolute;
      top: 6px;
      left: 0;
      border-radius: 50%;
    }
  }

  @include mq($MdDesktopWidth, max) {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: auto;
    padding: 30px 30px 100px 30px;
  }
}

.left {
  background: #151b29;
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  img {
    position: relative !important;
    width: auto !important;
    height: auto !important;

    @include mq($MdDesktopWidth, max) {
      height: auto !important;
    }
  }

  @include mq($SmDesktopWidth, max) {
    width: 100%;
  }
}

.imgContainer {
  position: relative;
  top: 40px;

  @include mq($SmDesktopWidth, max) {
    top: 0;
  }
}

.mainPage {
  top: 0;

  img {
    width: 100% !important;
    height: 100% !important;
  }
}

.step {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 32px;
  line-height: 69px;
  color: #c6c5d7;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    color: #fff;
  }
}

.close {
  cursor: pointer;
  fill: #c6c5d7;

  &:hover {
    fill: #d2d4db;
  }

  position: absolute;
  top: 44px;
  right: 40px;
  z-index: 4;

  @include mq($MdDesktopWidth, max) {
    top: -50px;
    right: 0;
  }
}

.name {
  display: flex;
  margin-bottom: 20px;
  @include list(25px, true);
  align-items: center;
}

.role {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}

.prev,
.next {
  position: absolute;
  padding: 0;
  font-size: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
  bottom: 25px;
  background-color: white;
}

.prev {
  right: 417px;

  @include mq($MdDesktopWidth, max) {
    right: auto;
    left: 30px;
  }

  @include mq($PhoneWidth, max) {
    left: 20px;
  }
}

.next {
  right: 43px;

  @include mq($MdDesktopWidth, max) {
    right: 30px;
  }

  @include mq($PhoneWidth, max) {
    right: 20px;
  }
}
