@import "styles/index";

.root {
    position: relative;
}

.input{
    height: $StandartHeight;
    border-radius: $StandartBorderRadius;
    border: 1px solid $grey400;
    width: 100%;
    padding: 0 16px;

    &::placeholder{
        @include mainText;
    }
}

.label{
    position: absolute;
    color: $dark500;
    @include btnText;
    top: 25%;
    right: 12px;
}

.static{
    position: static;
}