@import "styles/index";

.root {
  background: #D8E4FF;
  padding: 68px 0 175px;

  @include mq($PhoneWidth, max) {
    padding: 70px 0;
  }
}

.container {
  @include landingContainer();
}

.title {
  margin-bottom: 80px;
  font-size: 48px;
  line-height: 69px;
  font-weight: 300;
  color: #2f80ed;
  font-family: 'Jost';

  span {
    font-weight: 600;
    color: #000;
  }

  @include mq($PhoneWidth, max) {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 40px;
  }
}

.row {
  @include rowLanding();
}

.column {
  @include columnLanding();
}

.item {
  margin-bottom: 45px;

  p {
    margin-top: 22px;
    font-size: 18px;
    line-height: 26px;
  }

  @include mq($PhoneWidth, max) {
    padding-left: 70px;
    position: relative;

    p {
      margin-top: 0;
    }

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      zoom: .8;
    }
  }
}