@import "../../../../styles/index";
.root{
  @include list(12px);
}
.row{
  display: flex;
  justify-content: stretch;
  @include list(12px, true);
}
.info{
  @include list(12px);
}
.infoField{
  @include list(4px);
}
.infoLabel{
  color: $grey500;
  font-size: 14px;
  font-weight: 400;
}
.infoValue{
  color: $dark500;
  font-size: 14px;
  font-weight: 400;
}
.form{
  @include list(16px);
}
