@import "styles/index";

.root {
    @include pageContainer;
    position: relative;
    display: flex;

    @include mq(820px, max) {
        padding: 0;
        background-color: $white;
    }
}

.colLeft{
  flex: 1;
  min-width: 0;
  padding-right: 32px;
  @include list(12px);
  @media (min-width: $md-min) and (max-width: $md-max) {
    padding-right: 30px;
  }
  @media (max-width: $xs-max) {
    flex: auto;
    padding-right: 0;
  }
}

.chatLayout {}

.header {
    padding: 24px 15px;
}

.back {
    cursor: pointer;
    display: flex;
    @include list(8px, true);
    align-items: center;

    .text {
        color: $grey500;
        align-self: center;
    }
}

.chatMobile {
    margin-bottom: 48px;
}

.message {
    max-width: 312px;

    margin-top: 12px;

    @include mq($lg-medium, min) {
        max-width: 376px;
    }
}

.layoutTitle {
    max-width: 100% !important;
}

.mobileCardTitle {
    @include mq($PhoneWidth, max) {
        font-size: 22px;
        line-height: 30px;
    }
}
