@import "styles/index";

.root {
    @include container;
    position: relative;
    margin-right: 0;
    max-width: 1342px !important;

    @include mq($lg-medium, min) {
        max-width: 1620px !important;
    }
}

.content {
    display: flex;
    flex-direction: column;
    @include list(12px, false);
    margin-top: 32px;
    margin-bottom: 64px;
    max-width: 940px;
    margin-right: 32px;
}

.chat {
    position: absolute;
    height: calc(100% + 32px);
    right: 0;
    top: -32px;
    width: 352px !important;

    @include mq($lg-medium, min) {
        width: 628px !important;
    }
}