@import "styles/index";

.root {}

.wrapper {
  display: none;
}

.map {
  :global {
    .ymaps-2-1-79-map {
      width: 100% !important;
      height: 328px !important;
    }
  }
}

.internal {
  width: 100%;
}