@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $white;
    border-radius: $StandartBorderRadius;

    @include mq($PhoneWidth, max) {
        padding: 20px 15px;
    }
}

.top {
    display: flex;
    align-items: center;
}

.title {
    @include h2;
    max-width: 69%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include mq($SmDesktopWidth, max) {
        max-width: 50%;
    }

    @include mq($PhoneWidth, max) {
        max-width: inherit;
        overflow: inherit;
        text-overflow: inherit;
        white-space: inherit;
    }
}

.content {}