@import "styles/index";

.root {
  position: relative;
  @include card;
}

.container {
  display: flex;
  justify-content: space-between;

  @include mq($TabletWidth, max) {
    flex-direction: column;
    @include list(16px, false);
  }
}

.left {
  display: flex;
  flex-direction: column;
  @include list(16px, false);
}

.top {
  display: flex;
  align-items: center;
  @include list(8px, true);

  .first {
    display: flex;
    align-items: center;
    @include list(8px, true);
  }

  .second {
    display: flex;
    align-items: center;

    @include list(8px, true);
  }

  @include mq($PhoneWidth, max) {
    flex-direction: column;
    @include list(8px, false);
  }
}

.weight {
  @include h2;
  color: $text;
}

.number {
  border-radius: 12px;
  border: 1px solid $grey300;
  padding: 2px 8px;
  @include secondaryText;
  display: flex;
  align-items: center;
}

.middle {
  @include mainText;
  color: $text;
}

.bottom {
  display: flex;
  @include list(8px, true);

  .item:last-child {
    white-space: nowrap;
  }
}

.item {
  padding: 4px 12px;
  background-color: $green300;
  color: $green500;
  border-radius: 12px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mainText;

  @include mq($PhoneWidth, max) {
    min-height: 30px;
  }
}

.right {
  background-color: $grey300;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  position: relative;
  width: 179px;
  height: 128px;

  @include mq($TabletWidth, max) {
    width: 258px;
    height: 185px;
  }

  img {
    border-radius: 12px;
  }
}

.status {
  padding: 5px 12px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
}

.applied {
  background-color: $blue500;
}

.accepted {
  background-color: $green400;
}

.rejected {
  background-color: $red500;
}

.offer {
  margin-top: 20px;
  border-radius: 12px;
  padding: 8px 12px;
  background-color: $grey200;
  display: flex;
  @include list(10px, true);
  align-items: center;
  max-width: 206px;
  cursor: pointer;

  .text {
    color: $dark500;
    @include mainText;
  }

  @include mq($PhoneWidth, max) {
    display: none;
  }
}

.offerMobile {
  margin-top: 20px;
  border-radius: 12px;
  padding: 8px 12px;
  background-color: $grey200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .text {
    color: $dark500;
    @include mainText;
  }

  @include mq($PhoneWidth, min) {
    display: none;
  }
}

.letter {
  display: flex;
  flex-direction: column;
  @include list(16px, false);
  border-top: 1px solid $grey400;
  padding-top: 20px;
  margin-top: 20px;
}

.header {
  display: flex;
  @include list(16px, true);
  align-items: center;

  .title {
    @include h3;
    color: $dark500;
  }
}

.date {
  @include secondaryText;
  color: $grey500;
}

.info {
  display: flex;
  @include list(8px, true);

  @include mq($PhoneWidth, max) {
    flex-direction: column;
    @include list(8px, false);
  }
}

.badge {
  padding: 12px;
  background-color: $grey200;
  border-radius: 12px;

  @include mq($PhoneWidth, max) {
    align-self: flex-start;
  }
}

.cover {
  @include mainText;
  color: $dark500;
  max-width: 516px;
  word-break: break-word;
  white-space: pre-line;
}
