@import "styles/index";

.form {
    display: flex;
    flex-direction: column;
    @include list(16px, false);
}

.btn {
    width: 189px;

    @include mq($PhoneWidth, max) {
        font-size: 15px;
        padding: 8px 16px;
        height: 40px;
    }
}