@import "styles/index";

.root {
  display: flex;
  flex-direction: column;
 @include list(12px);
}
.title{
  @include h2;
}
.label{
  @include label;
  white-space: nowrap;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  @include list(16px, true)
}
.weightSection{
  @include list(24px);
}
.weightField{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $grey400;
  padding-bottom: 24px;
  @include list(12px);
}
