@import "styles/index";

.root {
    background: $white;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    @include h2;
    color: $text;
}

.price {
    @include h3;
    color: $text;
}

.middle {
    @include mainText;
    color: $text;
}

.bottom {
    display: flex;
    gap: 12px;
    @include mq($PhoneWidth, max) {
        display: block;
        @include clearfix;
    }
}

.rating {
    width: 57px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $StandartBorderRadius;
    border: 1px solid $grey300;
}

.number {
    color: $dark500;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    @include mq($PhoneWidth, max) {
        flex-direction: column;
        align-items: baseline;
    }
}