@import "styles/index";

.root {
  display: flex;
  flex-direction: column;
  @include card;
  @include list(24px, false);
}
.title{
  @include h2;
  text-align: center;
}
.text {
  @include mainText;
  color: $dark500;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: row;
  @include list(12px, true);
  align-items: center;
  justify-content: center;
}
