@import "styles/index";

.root{
  position: relative;
  display: flex;
  flex-direction: column;
  @include list(8px);

}

.label{
  @include label;
}


.inputWrapper {
  position: relative;
  @include inputWrapper;
}

.icon {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  @include list(8px)
}
.suffix{
  cursor: pointer;
  padding-right: 12px;
  padding-left: 4px;
  height: $StandartHeight;
  display: flex;
  align-items: center;
}
.prefix{
  display: flex;
  padding-left: 12px;

}
.clear{
  cursor: pointer;
  padding-right: 16px;
  padding-left: 4px;
  height: $StandartHeight;
  display: flex;
  align-items: center;
  &.withSuffix{
    padding-right: 8px;
  }
  .clearIcon{

  }
}
.input{
 @include inputWrapper;

  :global{
    .react-daterange-picker__wrapper{
      @include input;
    }
  }
}

.field {
  display: flex;
  padding: 12px 16px;
  border: 1px solid $grey400;
  border-radius: 12px;
  @include list(8px, true);
  align-items: center;
  cursor: pointer;
}

.text{
  @include mainText;
  color: $dark500;
}
