@import "styles/index";

.form {
    display: flex;
    flex-direction: column;
    @include list(24px, false);
    width: 70%;

    @include mq($PhoneWidth, max) {
        width: 100%;
        @include list(8px, false);
    }
}

.text {
    color: $dark500;
    @include mainText;
    text-align: center;

    span {
        @include btnText;
        text-decoration: underline;
    }
}

.btn {
    width: 122px;

    @include mq($PhoneWidth, max) {
        width: 100%;
    }
}