@import "styles/index";

$width: 105px;
$height: 77px;

.root{
  position: relative;
}
.label{
  @include label;
  margin-bottom: 8px;
}

.files{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
