@import "styles/index";
.root{
  display: flex;
  flex-direction: column;
  @include list(16px);
}
.heading{
  @include h2;
}
.address {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.empty{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
